<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gtmap.realestate.supervise.templates.client.mybatis.LoggerMapper">
    <select id="findUserByName" parameterType="String" resultType="Logger">
        SELECT * FROM logger WHERE bizmsgid=#{bizmsgid}
    </select>

    <insert id="insertUser" parameterType="Logger" >
        insert into logger (bizmsgid,result,responsecode) values (#{bizmsgid},#{result},#{responsecode})
    </insert>
</mapper>